<!DOCTYPE html>
<html>
  <head>
    <title>Edit Task</title>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css"/>
    <h1>Edit</h1>
  </head>
  <div class="navbar">
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/tasks">All Tasks</a></li>
    </ul>
  </div>
  <body>
    <form action="/tasks/<%= @task.id %>" method="post">
      <input type="hidden" name="_method" value="PUT" />
      <p><label for="task[title]">Title:</label><br/>
      <input type="text" name='task[title]' value="<%= @task.title %>"/><br/></p>
      <p><label for="task[priority]">Priority:</label><br/>
      <input type="number" name='task[priority]' value="<%= @task.priority %>"/><br/></p>
      <p><label for="task[due_date]">Due Date:</label><br/>
      <input type="datetime" name='task[due_date]' value="<%= @task.due_date %>"/><br/></p>
      <p><label for="task[description]">Description:</label><br/>
        <textarea name='task[description]'><%= @task.description %></textarea><br/></p>
      <p><input type='submit'/></p>
  </body>
</html>
